@import url('https://fonts.googleapis.com/css?family=Lexend+Deca:200,300,400,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:200,300,400,600,700,800,900');

body {
	font-family: 'Lexend Deca', -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	padding-left: 10%;
	padding-right: 10%;
	background-color: white;
}
#vis {
	padding-top: 5%;
	padding-bottom: 5%;
	align-self: center;
}
.background {
	margin-top: 2rem;
	background-color: #e7e6e9;

	 /* background-color: #794752; */
	border: 2px solid #f2f2f2;
	padding-left: 2rem;
	padding-right: 2rem;
}
.map {
	width: 80%;
	margin: 0 auto
}
.container{
	align-items: center;
	justify-content: center;
	align-content: center;
	justify-items: center;
}
.vis-container {
	padding-top: 5%;
	padding-bottom: 5%;
	text-align: center;
	display: flex;
  	justify-content: center;
}
.header-container {
	padding-left: 2px;
	width: 100%;
	/* background-color:#91bfdb; */
	padding-top: 1rem;
	/* padding-bottom: 0.1rem; */
	text-align: left;
	text-transform: uppercase;
	color: #8856a7
}
.row {
	display: flex;
	flex-wrap: wrap;
	/* margin-right: -0.75rem;
	margin-left: -0.75rem; */
  }
.column {
	flex-direction: column;
}
.text-container {
	padding-left: 2px;
	font-size: 14;
}
.black {
	color: black;
	font-weight: 600;
}
.grey {
	color: #545353
}
.title {
	font-family: 'Playfair Display', -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	padding-left: 2px;
	padding-top: 1%;
	color: #8856a7;
	font-size: 50px;
	text-align: left;
	text-transform: uppercase;
	font-weight: 700;
}
.subtitle {
	padding-left: 2px;
	padding-top: 8px;
	color: #262626;
	/* opacity: 0.7; */
	font-size: 18px;
	text-align: left;
	padding-bottom: 16px;
}
.divider {
	border-bottom: 3px #aaaaaa solid;
	/* width: 35% */
}
.multicolumn {
	-webkit-column-count: 2;
      -moz-column-count: 2;
           column-count: 2;

   -webkit-column-gap: 20px;
      -moz-column-gap: 20px;
           column-gap: 20px;
}
.rank {
	height: 80%
}
.center {
	/* justify-content:center; */
	align-self: center;
}
.column {
	flex: 50%;
  }
.row {
	display: flex;
}
.text-column {
	padding-right: 40px;
}
